:root {
  font-family: sans-serif;
  --color-active: #4646462c;
}

mi-footer {
  display: block;
  margin: 1rem;
  font-size: small;
  text-align: center;
}

mi-nav {
  display: block;
}

mi-nav ul {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  list-style: none;
}

mi-nav ul li {
  margin: 0.5rem;
}

img {
  max-width: 100%;
}

p label,
p label>* {
  display: block;
}

ul.lista {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
}

.lista li {
  margin: 0;
}

.lista a,
.lista label {
  display: block;
  padding: 1rem;
}

.lista a {
  font-size: 0.75rem;
}

.lista a:active {
  background-color: var(--color-active);
}

.lista strong {
  font-size: 1rem;
}

.lista li label,
.con_imagen a {
  display: flex;
}

.con_imagen img {
  width: 30%;
  margin-right: 1rem;
}