body {
    font-family: sans-serif;
}
mi-footer {
  display: block;
  margin: 1rem;
  font-size: small;
  text-align: center;
}
mi-nav {
  display: block;
}
mi-nav ul {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  list-style: none;
}
mi-nav ul li {
  margin: 0.5rem;
}